<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tela_inicial" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tela_inicial" >
        <activity
            android:name=".View.tela_lista_completa_campanha"
            android:exported="false" />
        <activity
            android:name=".View.Tela_Historico_opcao_mes"
            android:exported="false" />
        <activity
            android:name=".View.Tela_Historico_Atual"
            android:exported="false" />
        <activity
            android:name=".View.Tela_Historico_Mes"
            android:exported="false" />
        <activity
            android:name=".View.Tela_Historico_geral"
            android:exported="false" />
        <activity
            android:name=".View.Tela_historico_campanha"
            android:exported="false" />
        <activity
            android:name=".View.Tela_Perfil"
            android:exported="false" />
        <activity
            android:name=".View.Tela_Criar_Campanha"
            android:exported="false" />
        <activity
            android:name=".View.campanha"
            android:exported="false" />
        <activity android:name=".View.opcoes_organizacao" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".View.cadastro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".View.forgot_password" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".View.Tela_Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>